.hero {
  height: 100vh;
  width: auto;
  max-width: 100vw;
  display: grid;
  color: #fff;
  grid-template-rows: 10% auto;
  align-items: center;
  position:relative;
  margin-left: 7rem;
  margin-right: 7rem;
}

.circle-container{
  display:grid;
}


.hero-text-container {
  height: 80%;
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-rows: auto auto;
  align-items: center;
}

.hero-header {
  font-size: 4rem;
  font-weight: 700;
}

.hero-subtext {
  font-size: 1.5rem;
  font-weight: 300;
  color: #989898;
}

.location-container {
  font-size: 1.5rem;
  font-weight: 300;
  color: #989898;
  text-align: right;
}

.hero-button {
  border-radius: 5px;
  height: 3.5rem;
  width: fit-content;
  font-size: 1.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
}

.hero-button:hover {
  background-color: #fff;
  color: #000;
}

.map-marker{
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 1000px){
  /* .hero {
    margin-left: 3rem;
    margin-right: 3rem;
  } */

  .hero-text-container {
    height: 80%;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
    align-items: center;
  }

  .location-container{
    text-align: left;
  }
}

@media screen and (max-width: 767px){
  .hero{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .hero-text-container{
    align-items: baseline;
  }
}
