.navbar{
  color: #fff;
  display:grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto;
  padding-top: 5rem;
}

.nav-links-container{
  column-gap: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100%;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.hamburger{
  display: grid;
  justify-content: end;
  position: sticky;
}
.hamburger-icon{
  width: 3rem;
  height: 3rem;
}

.mobileNav{
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-image: url('../../assets/mobile_nav_background.jpg');
  background-size: cover;
  background-repeat: none;
  overflow: hidden; 
  transition: 0.5s; 
}

@media screen and (max-width: 1000px){
  .close-btn{
    font-size: 3rem;
    text-align: right;
    margin: 4rem;
    cursor: pointer;
  }
  .nav-links-container{
    width: 100%;
    margin-top: 25%;
    margin-left: 7rem;
    display: block;
    font-size: 3rem;
    transition: opacity 400ms ease;
  }

  .nav-links-container:hover > .nav-link{
    opacity: 0.4;
  }

  .nav-links-container:hover > .nav-link:hover{
    opacity: 1;
  }
}