.projects-carousel {
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  position: sticky; 
}


.projects-carousel::-webkit-scrollbar {
  display: none;
}

.projects-card-container {
  display:grid;
  grid-template-rows: 100%;
  grid-template-columns: 100% 100% 100%;
}

.project-card {
  width: auto;
  height: 75vh;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-overflow-scrolling: touch;

  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .project-card-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

.projects-header {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
