#projects{
  cursor: url('../../assets/Cursor_Projects.svg'), auto;
  margin-left: 7rem;
  margin-right: 7rem;
}

.projects-carousel::-webkit-scrollbar {
  display: none;
}

.project-card-container {
  margin-right: 3rem;
}

.project-card {
  width: auto;
  height: 75vh;
  aspect-ratio: 16/9;
  margin-right: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;
  margin-right: 75px;
  flex-shrink: 0;

  -webkit-overflow-scrolling: touch;

  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-card-overlay {
  height: 100%;
  background-color: rgba(36, 36, 36, 0.26);
  display: grid;
  grid-template-rows: 95%;
}

.project-details-container{
  display:grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 40% 40%;
  justify-items: start;
  align-items: start;
  margin-bottom: 1rem;
}

.project-card-details{
  display: grid;
  /* align-self: start; */
  grid-template-rows: auto auto;
}

.project-title{
  font-size: 2.2rem;
  color: white;
  font-weight: 300;
}

.project-details{
  font-weight: 700;
  font-size: 1rem;
  color: #989898;
}

.project-details-text{
  font-weight: 300;
  font-size: 1rem;
  color: white;
}


.projects-header {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1000px){
  /* #projects{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  } */
  .projects-header{
    margin-bottom: 3rem;
  }

  .project-title{
    margin-bottom: 1.5rem;
  }
  
  .project-card {
    width: 70vw;
    height: auto;
    margin-top: 2rem;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    /* margin-right: 75px; */
  }

  .project-details-container{
    display:grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 100%;
    justify-items: start;
    align-items: start;
    row-gap: 1rem;
    margin-bottom: 1rem;
  }
}


@media screen and (max-width: 500px){
  #projects{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .projects-header{
    margin-bottom: 3rem;
  }

  .project-title{
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }
  
  .project-card {
    width: 65vw;
    height: auto;
    margin-top: 2rem;
    aspect-ratio: 9/16;
    position: relative;
    /* margin-left: 2rem; */
  }

  /* .project-details-container{
    display:grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 100%;
    justify-items: start;
    align-items: start;
    row-gap: 1rem;
    margin-bottom: 1rem;
  } */
}
