.portfolio-container {
  background-image: url("../assets/hero_background2.jpg");
  background-color: #000;
  height: auto;
  width: auto;
  min-height: 100vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-404-header {
  width: 60%;
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
  padding: 7rem;
}

.error-404-desc {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5rem;
}

.error-404-button {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding: 0.8rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.error-404-button:hover {
  background-color: #fff;
  color: #000;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  justify-self: center;
  align-self: center;
  z-index: 1;
  mix-blend-mode: difference;
  transform: translate3d(-50%, -50%, 0);
  transition: height 0.5s ease, width 0.5s ease, transform 0.7s ease-in-out;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .portfolio-container {
    background-image: url("../assets/hero_background3.jpg");
    background-color: #000;
    height: auto;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-items: center;
  }

  .circle {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .circle {
    display: none;
  }
}
